<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color: white;">
    <div class="sidebar-brand-icon rotate-n-15">

    </div>
    <div class="sidebar-brand-text mx-3"><img src="assets/img/logo.png" width="90" height="60"></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a routerLinkActive="active" class="nav-link" routerLink="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tableau de bord</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-book"></i>
      <span>Livres</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Livres :</h6>
        <a routerLinkActive="active" class="collapse-item" routerLink="/category">Categories</a>
        <a routerLinkActive="active" class="collapse-item" routerLink="/book">Livres</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#membreUtilities" aria-expanded="true"
      aria-controls="membreUtilities">
      <i class="fas fa-fw fa-users"></i>
      <span>Membres</span>
    </a>
    <div id="membreUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Membres:</h6>
        <a routerLinkActive="active" class="collapse-item" routerLink="/type">Type membre</a>
        <a routerLinkActive="active" class="collapse-item" routerLink="/member">Membres</a>

      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#circulationUtilities"
      aria-expanded="true" aria-controls="circulationUtilities">
      <i class="fas fa-fw fa-undo"></i>
      <span>Emprunt</span>
    </a>
    <div id="circulationUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Circulation:</h6>
        <a routerLinkActive="active" class="collapse-item" routerLink="/configurationreturn">Paramètres</a>
        <a routerLinkActive="active" class="collapse-item" routerLink="/return">Emprunt</a>

      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#notificationUtilities"
      aria-expanded="true" aria-controls="notificationUtilities">
      <i class="fas fa-fw fa-bell"></i>
      <span>Notifications</span>
    </a>
    <div id="notificationUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Notifications:</h6>
        <a routerLinkActive="active" class="collapse-item" routerLink="/configurationsms">Paramètres SMS</a>
      </div>
    </div>
  </li>



  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" href="#" routerLink="/contact">
      <i class="fas fa-fw fa-address-book"></i>
      <span>Contact</span>
    </a>
  </li>


  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/requiredbook">
      <i class="fas fa-fw fa-glasses"></i>
      <span>Livres demandés</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#rapportUtilities" aria-expanded="true"
      aria-controls="rapportUtilities">
      <i class="fas fa-fw fa-comment-dollar"></i>
      <span>Rapport</span>
    </a>
    <div id="rapportUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Rapport:</h6>
        <a routerLinkActive="active" class="collapse-item" routerLink="/penalty">Amande</a>
      </div>
    </div>
  </li>

</ul>