<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Livres Demandés</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom de membre</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Edition</th>
                            <th>Statut</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom de membre</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Edition</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>

                            <td>Anis KCHAOU</td>
                            <td>VIVRE AVEC LA TERRE</td>
                            <td>Charles et Perrine Hervé-Gruyer</td>
                            <td>Editions Actes Sud</td>

                            <td>Disponible</td>
                            <td><button (click)="resolve()" class="btn btn-primary">résoudre</button>


                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->