<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Type de membre</h1>
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type de membre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Type de membre</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Auteur</td>
                            <td><button class="btn btn-primary">voir</button>
                                <button class="btn btn-warning">editer</button>
                                <button class="btn btn-danger">supprimer</button></td>
                       
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Etudiant</td>
                            <td><button class="btn btn-primary">voir</button>
                                <button class="btn btn-warning">editer</button>
                                <button class="btn btn-danger">supprimer</button></td> 
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>