<div class="form-group odd" id="category_name_field_box">
  <label class="col-sm-3 control-label" for="name" id="category_name_display_as_box">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">
        Nom de la catégorie </font>
    </font><span class="required">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <input id="field-category_name" name="category_name" type="text" value="" maxlength="99">
    <!-- <span class="red"></span> -->
    <br>
    <button (click)="add()" type="button" class="btn btn-info">
      <i class="fas fa-save"></i>
      Sauvegarder
    </button>
    <button (click)="reset()" type="button" class="btn btn-danger">
      <i class="fas fa-times"></i>
      Annuler
    </button>

  </div>
</div>