  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Allocation des Livres</h1>
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table id="table" class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date allocation</th>
                            <th>Date expiration</th>
                            <th>Date retour</th>
                            <th>Peine</th>
                            <th>Retourné</th>
                           

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                           <th>#</th>
                            <th>Nom</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date allocation</th>
                            <th>Date expiration</th>
                            <th>Date retour</th>
                            <th>Peine</th>
                            <th>Retourné</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Charles et Perrine Hervé-Gruyer</td>
                            <td>VIVRE AVEC LA TERRE</td>
                             <td>Anis</td>
                            <td>12/10/2020</td>
                            <td>12/10/2020</td>
                             <td>T12/10/2020</td>
                            <td>5$</td>
                            <td>Non</td>
                       
                        </tr>
                       
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
