<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Envoyer une notification aux membres retardés</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table id="table" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Date allocation</th>
                            <th>Date expiration</th>
                            <th>Titre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Date allocation</th>
                            <th>Date expiration</th>
                            <th>Titre</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>KCHAOU</td>
                            <td>kchaouanis25@gmail.com</td>
                            <td>970768769</td>
                            <td>22/01/2020</td>
                            <td>22/04/2020</td>
                            <td>VIVRE AVEC LA TERRE</td>
                            <td><button (click)="sendSMS()" class="btn btn-primary">Envoyer SMS</button>
                                <button (click)="sendEmail()" class="btn btn-secondary">Envoyer email</button>
                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->