<div class="container-fluid">
    <app-statistics-book></app-statistics-book>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Livres</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table id="table" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Edition</th>
                            <th>Année</th>
                            <th>Date ajouté</th>
                            <th>Disponibilité</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ISBN</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Edition</th>
                            <th>Année</th>
                            <th>Date ajouté</th>
                            <th>Disponibilité</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let b of books$">
                            <td>{{b.isbn}}</td>
                            <td>{{b.title}}</td>
                            <td>{{b.author}}</td>
                            <td>{{b.edition}}</td>
                            <td>{{b.year_edition}}</td>
                            <td>{{b.date}}</td>
                            <td>Disponible</td>
                            <td>
                                <button (click)="edit(b.id)" href="#edit" role="button" data-toggle="modal"
                                    class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                <button (click)="delete(b.id)" type=" button" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');"><i
                                        class="fas fa-trash-alt"></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>



                <app-modal-book></app-modal-book>


            </div>
        </div>
    </div>

</div>